.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
position: relative;
min-height: 1px;
padding-right: 5px;
padding-left: 5px;
}


/*----------------box-------------------------*/
.box {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.box > div.box-header {
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
  border-top: 1px solid rgb(224,224,224);
  border-bottom: 1px solid rgb(224,224,224);
}

.box > div.box-header > h3 {
  color: black;
  font-size: 900;
}

/*#preview_mat_card > div > div > div.box-header > h3 {
  color: white;
}*/

.box > div.box-body {
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
  border-bottom: 1px solid rgb(224,224,224);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5),
                0 1px 4px rgba(0, 0, 0, 0.3),
                0 0 10px rgba(0, 0, 0, 0.1) inset;
                */
}

.box-header > div > button {
  color: rgb(87, 96, 106);
  /*background-color: rgb(87, 96, 106);*/
}


div.box-body .shiny-input-container {
width: auto;
margin-bottom: 0;
}

.progress.shiny-file-input-progress {
visibility: hidden;
margin-bottom: 0;
}

.btn-upload {
  background: -webkit-linear-gradient(90deg,rgb(222,222,222) 50%,rgb(245,245,245) 100%);
  /*-webkit-gradient(linear, left top, right bottom, from(rgb(222,222,222)), to(rgb(245,245,245)));*/
  /*background-color: rgb(148, 172, 206);*/
  border-radius: 10px;
  transition-duration: 0.4s;
  height: 40px;
  color: rgb(63,138,198);
  /*font-size: 20px;*/
  font-weight: 800;
  font-family: Times New Roman;
}

.content {
overflow: visible;
background-color: white;
}
